---
subscription:
  suburl: "https://{{ sub_all_url }}:{{ sub_all_port }}/{{ sub_all_path }}/{{ inbound_sub_id }}"
  suburl_ru: "https://{{ sub_all_url }}:{{ sub_all_port }}/{{ sub_all_path }}/{{ inbound_sub_id_ru }}"