# Parameters for 3x-ui
tgBotEnable: "false"
tgBotToken: "XXXXXXXXXX:YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY"
tgBotChatId: "ChatId"
subTitle: "title"
subTitleRU: "title for RU serv"
inbound_sub_id: "sub_id" # must be the same on all servers for the subscription to work
inbound_sub_id_ru: "sub_id_ru"

# Timezone settings
timezone: "Europe/Moscow" #GMT+3

# AmneziaWG UI password
amneziawg_password: "default_pass"
amneziawg_wg_port: "51820"
amneziawg_port: "51821"