# Watchtower parameters
tg_wt_bot_token: "XXXX:YYYYYYYYYYYYYYY"
# Uncomment if you need to send messages to a topic
#tg_wt_topic_id: ',"message_thread_id":"1"'
tg_wt_chat_id: "chat_id"

# Timezone settings
timezone: "Europe/Moscow" #GMT+3